{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<link rel="stylesheet" href="static/text_animation.css">
<link rel="stylesheet" href="static/login.css">

<style>
  .stitch_book{
    transform: scale(75%);
    width: 100%;
}
@media (max-width: 400px){
  .stitch_book{
      transform: scale(0.2) translate(-280%, 100%);
  }
}
</style>

<div class="form-container title-login" style="height: 450px;">
    <form class="form" method="POST">
        <div>
            <section>
                <div class="content">
                  <h2>Ohana's Library</h2>
                  <h2>Ohana's Library</h2>
                </div>
              </section>
              <br><br><br>
        <div class="form__group field ">
            <input
            type="text"
            class="form__field"
            id="username"
            name="username"
            placeholder="Enter username"
            required="" />
            <label for="username" class="form__label">Username</label>
        </div>
        <div class="form__group field ">
            <input
            type="text"
            class="form__field"
            id="firstName"
            name="firstName"
            placeholder="Enter Your Name"
            required="" />
            <label for="firstName" class="form__label">Name</label>
        </div>
        <div class="form__group field ">
            <input
            type="password"
            class="form__field"
            id="password1"
            name="password1"
            placeholder="Enter Password"
            required="" />
            <label for="password1" class="form__label">New Password</label>
        </div>
        <div class="form__group field ">
            <input
            type="password"
            class="form__field"
            id="password2"
            name="password2"
            placeholder="Enter password"
            required="" />
            <label for="password2" class="form__label">Password (Confirm)</label>
        </div>
        <br>
        <button type="submit" class="btn btn-primary ">Submit</button>
    </form>
</div>

{% endblock%}